{{#name}}
    <h4>{{name}}</h4>
{{/name}}

<div class="styleguide-example">
  <div class="styleguide-description">
  {{{description}}}
  </div>
  {{{markup.example}}}
</div>

{{#state}}
  <div class="styleguide-example">
    <div class="styleguide-state-description">{{description}}:</div>
    {{{markup.example}}}
  </div>
{{/state}}


