/**
 * @name Forms
 * @order 3
 */

/**
 * @name Input fields
 * @state :focus - Focussed state
 * @state :hover - Hover state
 * @state .error - Error state
 * @markup
 * <form><label>Label:</label> <input type="text" {{{state}}}></form>
 */
input {
    border: 1px solid silver;
    border-radius: 3px;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;

    &:focus, &:hover {
      outline: none;
      border: 1px solid gray;
    }

    &:hover {
        background: #eee;
    }
}

input.error {
    background: red;
}

