/**
 * @name Paragraphs
 * @description Standard paragraphs:
 * @order 1
 * @state :first-child - First paragraph in a block
 * @state .large - Big text
 * @markup
 *  <p class="{{{escaped}}}">Paragraph with <i>italic</i> and <b>bold</b>.</p>
 */
p {
    font-size: 16px;
    line-height: $lineHeight/16;
}

p:first-child {
    text-decoration: underline;
}

p.large {
    font-size: 20px;
}

/**
 * @name Quotes
 * @state en - English
 * @state fr - French
 * @state de - German
 * @markup
 * <p lang="{{{escaped}}}"><q>This {{description}} quote has a <q>nested</q> quote.</q></p>
 */
:lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }
:lang(fr) > q { quotes: '« ' ' »'; }
:lang(de) > q { quotes: '»' '«' '\2039' '\203A'; }
