/**
 * @name Colors
 * @template pages/variables
 * @partial partials/color
 *
 * @variable orange - Like the fruit
 * @variable blue Like the sky - although quite dark blue so not sky blue
 * @variable green
 */
$orange: #FF9900;
$blue: #0009FF;
$green: #00FF00;
$black: #000000;
