<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/css/base.css">
  </head>
  <body>
    {{$content}}Content goes here{{/content}}
  </body>
</html>
