<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <header>
    <h1><a href="/">{{site.title}}</a></h1>
    </header>

    <nav>
      <ul>
        {{#site.index.files}}
          {{^meta.isIndex}}
          <li><a href="{{meta.url}}">{{meta.name}}</a></li>
          {{/meta.isIndex}}
        {{/site.index.files}}
      </ul>
    </nav>

    <hr>

    <section role="content">
      {{$content}}Content goes here{{/content}}
    </section>

  </body>
</html>
