{{<layouts/default}}

  {{$content}}

  {{! The content block to insert into layout }}

    {{! The block in the index.scss, which should *not* contain any mark-up, just import it's files }}
    {{#dss}}
        {{#blocks}}
            {{#name}}
            <h2><a href="{{meta.url}}">{{name}}</a></h2>
            {{/name}}
            {{{description}}}
        {{/blocks}}
    {{/dss}}

    {{! If no DSS at all this is a markdown index }}
    {{^dss}}
        {{{content}}}
    {{/dss}}

    {{! Embed examples from all the files in this section, ignoring indexes }}
    {{#meta.section.files}}
      {{^meta.isIndex}}
        <a name="{{meta.name}}"></a>
        <h3><a href="{{meta.url}}">{{meta.subsectionName}}</a></h3>
        {{#dss}}
            {{#blocks}}
                {{#name}}
                    <h4>{{name}}</h3>
                {{/name}}

                {{{description}}}

                {{{markup.example}}}

            {{/blocks}}
        {{/dss}}

      {{/meta.isIndex}}
    {{/meta.section.files}}

  {{/content}}

{{/layouts/default}}
