{{#variable}}
  <div class="styleguide-color">
      <div class="styleguide-color-block" style="height: 80px; width: 80px; background-color: {{value}}">&nbsp;</div>
      <div class="styleguide-color-description" title="{{description}}">{{name}}: {{value}}</div>
  </div>
{{/variable}}
