{{#state}}
  <div class="styleguide-color">
      <div class="styleguide-color-block" style="background-color: {{escaped}}">block</div>
      <div class="styleguide-color-description">{{description}}: {{escaped}}</div>
  </div>
{{/state}}
