{{<layouts/default}}

  {{$content}}

  {{! The content block to insert into layout }}

    <h2><a href="{{file.data.url}}">{{file.data.subsectionName}}</a></h2>

    {{! Just show DSS for the current file }}
    {{#file.data.dss}}
        {{#blocks}}
            {{>partials/dss-block}}
        {{/blocks}}
    {{/file.data.dss}}

  {{/content}}

{{/layouts/default}}

