{{<layouts/default}}

  {{$content}}

  {{! The content block to insert into layout }}

    <h2><a href="{{meta.url}}">{{meta.subsectionName}}</a></h2>

    {{! Just show DSS for the current file }}
    {{#dss}}
        {{#blocks}}
            {{>partials/dss-block}}
        {{/blocks}}
    {{/dss}}

  {{/content}}

{{/layouts/default}}

