{{<layouts/default}}

  {{$content}}

  {{! The content block to insert into layout }}

    {{! The block in the index.scss, which should *not* contain any mark-up, just import it's files }}
    {{#file.data.dss}}
        {{#blocks}}
            {{#name}}
            <h2><a href="{{file.data.url}}">{{name}}</a></h2>
            {{/name}}
        {{/blocks}}
    {{/file.data.dss}}

    {{! Embed examples from all the files in this section, ignoring indexes }}
    {{#file.data.children}}
      {{^data.isIndex}}
        <a name="{{data.name}}"></a>
        <h3><a href="{{data.url}}">{{data.subsectionName}}</a></h3>
        {{#data.dss}}
            {{#blocks}}
                {{#partial}}Lambda to get @partial for block{{/partial}}
            {{/blocks}}
        {{/data.dss}}

      {{/data.isIndex}}
    {{/file.data.children}}

  {{/content}}

{{/layouts/default}}


