<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>

    <header>
    <h1><a href="/">{{site.title}}</a></h1>
    </header>

    <nav>
    <ul>
    {{#file.data.root.data.children}}
        <li><a href="{{data.url}}">{{data.sectionName}}</a></li>
    {{/file.data.root.data.children}}
    </ul>
    </nav>

    <hr>

    <section role="content">
      {{$content}}Content goes here{{/content}}
    </section>

    <script src="/js/pseudo-state.js"></script>
  </body>
</html>
