{{<layouts/default}}

  {{$content}}

    <h2>{{meta.name}}</h2>

    {{#dss}}
        {{#blocks}}
            {{#name}}
               <h3>{{name}}</h3>
            {{/name}}

            {{{description}}}

            {{{markup.example}}}

        {{/blocks}}
    {{/dss}}

    {{^dss}}
        {{{content}}}
    {{/dss}}

  {{/content}}

{{/layouts/default}}
